<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
           "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>TDD/BDD勉強会</title>
  </head>
  <body>
    <script type="text/javascript" src="lib/buster/buster-test.js"></script>
    <script type="text/javascript" src="src/study.js"></script>
		<script type="text/javascript" src="test/study_test.js"></script>
		<script type="text/javascript" src="spec/study_spec.js"></script>
  </body>
</html>
